# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env
.venv/
*.egg-info/

# IDE files
.vscode/
.idea/

# Mac/Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
htmlcov/
*.cover
coverage.*
.tox/
.pytest_cache/

# Docker
*.pid
db-data/
*.db

# Reports
report.html

# Jupyter
.ipynb_checkpoints/

# Build
build/
dist/
*.egg
